div {
    background-color: red;
    color: white;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
  }
  button {
    background-color: rgb(203, 212, 19); 
    color: rgb(8, 7, 7);           
    font-size: 16px;       
  }
  